<% if user_signed_in? %>
  <p> 
  <% message = 'Logged In as ' + current_user.email + ' [click to logout]' %>	
  <%= link_to message, destroy_user_session_path, :method => :delete %>
  </p>
<% else %>
  <p><%= link_to 'Login', new_user_session_path %></p>
<% end %>